{% extends 'home.html' %}
{% load static %}

    {% block content %}
    <div class="mybooking">
        <div class="line"></div>
        <h2>TOURNAMENTS</h2>
    </div>
    <div class="container">
    <div class="left-side">
        <div class="fustal-venue">
            <h3>Fustal Venue Lists</h3>
            <a href="#"><img src="{% static 'img/gautam chowk fustal.jpg'%}"> Chitwan Fustal and Sports Zone</a>
            <a href="#"><img src="{% static 'img/kshetrapur fustal.jpeg'%}"> Kshetrapur Fustal Arena</a>
            <a href="#"><img src="{% static 'img/shardapur fustal.jpg'%}"> The Sharadpur futsal</a>
            <a href="#"><img src="{% static 'img/parsa fustal.jpg'%}"> Parsa Fustal</a>
            <a href="#"><img src="{% static 'img/cassi sports.jpg'%}"> Cassi Sports</a>
            <a href="#">See More</a>
        </div>
    </div>

    <div class="main-content">
        <div class="post-container">
            <div class="user-profile">
                <img src="{% static 'img/cassi sports.jpg'%}">
                <div>
                    <p>Cassi Sports and Recreational Center</p>
                   <span>January 10 2024, 02:02 pm</span>
                </div>
            </div>
            <p class="post-text">CHAMPION of LICT Cup, 2080 CSIT 4th Semester </p>
            <img src="{% static 'img/tournament4.png'%}" class="post-img">

            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{% static 'img/like-blue.png'%}"> 120</div>
                    <div><img src="{% static 'img/comments.png'%}"> 20</div>
                    <div><img src="{% static 'img/share.png'%}"> 15</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{% static 'img/shardapur fustal.jpg'%}"><i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="user-profile">
                <img src="{% static 'img/gautam chowk fustal.jpg' %}">
                <div>
                    <p>Chitwan Fustal and Sports Zone</p>
                   <span>June 24 2023, 13:40 pm</span>
                </div>
            </div>
            <p class="post-text">Hello Everyone from falgun 19, There is going to be held fustal tournament for CSIT student. So, I hope you will participate and make our tournament succesfull. Thank You!</p>
            <img src="{% static 'img/tournament1.JPG'%}" class="post-img">

            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{% static 'img/like-blue.png'%}"> 120</div>
                    <div><img src="{% static 'img/comments.png'}"> 20</div>
                    <div><img src="{% static 'img/share.png'%}"> 15</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{% static 'img/gautam chowk fustal.jpg'%}"><i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>
        
        <div class="post-container">
            <div class="user-profile">
                <img src="{% static 'img/kshetrapur fustal.jpeg'%}">
                <div>
                    <p>Kshetrapur Fustal Arena</p>
                   <span>June 24 2023, 13:40 pm</span>
                </div>
            </div>
            <p class="post-text">Best Player of the Chitwan Fustal League. #Abishek Shahi</p>
            <img src="{% static 'img/abishek.JPG'%}" class="post-img">

            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{% static 'img/like-blue.png'%}"> 120</div>
                    <div><img src="{% static 'img/comments.png'%}"> 20</div>
                    <div><img src="{% static 'img/share.png'%}"> 15</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{'img/kshetrapur fustal.jpeg'%}"><i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>

        <div class="post-container">
            <div class="user-profile">
                <img src="{% static 'img/shardapur fustal.jpg'%}">
                <div>
                    <p>The Sharadpur futsal</p>
                   <span>May 10 2023, 01:01 pm</span>
                </div>
            </div>
            <p class="post-text">KFA fustal Tournament coming soon.....</p>
            <img src="{% static 'img/tournament3.JPG'%}" class="post-img">

            <div class="post-row">
                <div class="activity-icons">
                    <div><img src="{% static 'img/like-blue.png'%}"> 120</div>
                    <div><img src="{% static 'img/comments.png'%}"> 20</div>
                    <div><img src="{% static 'img/share.png'%}"> 15</div>
                </div>
                <div class="post-profile-icon">
                    <img src="{% static 'img/shardapur fustal.jpg'%}"><i class="fa-sharp fa-solid fa-caret-down"></i>
                </div>
            </div>
        </div>

    </div>

    <div class="right-side">
        <div class="sidebar-title">
            <h4>Events</h4>
            <a href="#">See  All</a>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>18</h3>
                <span>March</span>
            </div>
            <div class="right-event">
                <h4>Dashain offers on Shop</h4>
                <p><i class="fa-solid fa-location-dot"></i> Gautam Chowk</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <div class="event">
            <div class="left-event">
                <h3>22</h3>
                <span>June</span>
            </div>
            <div class="right-event">
                <h4>Book Monthly get 3 days free</h4>
                <p><i class="fa-solid fa-location-dot"></i> Parsa Fustal</p>
                <a href="#">More Info</a>
            </div>
        </div>
        <div class="sidebar-title">
            <h4>Advertisement</h4>
            <a href="#">Close</a>
        </div>
        <img class="sidebar-ads" src="{% static 'img/lumbini ict.jpeg'%}">
    </div>
</div>

{% endblock %}
